@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Ubuntu:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.cursor {
  display: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* header styling */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
}

.sticky {
  padding: 15px 0;
  background: #df2b4f;
  color: white;
}

header .heading a .sticky-state {
  color: white;
}

header .menu li .sticky-state {
  color: #fff;
}

header .menu li {
  list-style: none;
  display: inline-block;
  border: 2px solid transparent;
}

header .menu li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-family: "Ubuntu";
  color: #000;
  border-bottom: transparent 3px solid;
  transition: border 0.3s ease;
  margin-left: 25px;
}

header.sticky li a {
  color: #fff;
  font-weight: 500;
}
header .menu li a:hover {
  border-color: #df2b4f;
}

header .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* styling menu-btn */

.menu-btn {
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.header a {
  text-decoration: none;
  color: #df2b4f;
}

header h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 2px;
}

/* Style home section */

.home {
  display: flex;
  background-color: white;
  height: 100vh;
  color: #000;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  width: 100%;
}
.home .home-content .text-1, .home .home-content .text-2, .home .home-content .text-3{
  font-family: "ubuntu",  sans-serif;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 300;
  margin-left: -3px;
  color: #df2b4f;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3{
  color: #5f5f64;
}

.home .home-content .text-3 span {
  color: #df2b4f;
}

/* Style links */

.home a.sl-link,
.home a.gh-link {
  text-decoration: none;
}

.home ul.links {
  list-style: none;
  padding: 20px 0;
  display: flex;
}

.home i.github-icon {
  color: #000;
  font-size: 1.4rem;
  padding-right: 1.5rem;
}

.home i.github-icon:hover {
  color: #171515;
}

.home a.sl-link img.sl-icon {
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 1.5rem;
}

.home .links .sololearn-link-container {
  position: relative;
  display: inline-block;
}

.home .sl-link:hover img.sl-icon-hover {
  display: inline;
  vertical-align: middle;
}

.home .sl-link:hover img.sl-icon {
  display: none;
}

.home .sl-link .sl-icon-hover {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 99;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 1.5rem;
}

/* styling scroll down button */

.scroll-down.no-display {
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 32px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
  cursor: pointer;
}

.home .scroll-down a {
  padding: 20px;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

section {
  padding: 100px 0;
}

/* About section styling */

section {
  padding: 100px 0;
}

.about .title {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
}

.about {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.about .about-content p {
  text-align: center;
}

/* Footer section styling */

footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

footer .fa-heart {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
}

/*responsive media query */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  header .menu-btn i {
    color: #000;
  }
  header.sticky .menu-btn i {
    color: #fff;
  }
  header .menu-btn i.active {
    color: #fff;
  }
  header .menu-btn i.active:hover {
    color: #df2b4f;
    transition: color 0.3s ease;
  }
  header .menu {
    position: fixed;
    /* background: #111; */
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 200px;
    transition: all 0.3s ease;
  }
  /* To look menu items white when menu opened */
  header .menu.active li a {
    color: #fff;
    font-weight: 500;
  }
  /* show when menu btn pressed */
  header .menu.active {
    left: 0;
  }
  header .menu li {
    display: block;
  }
  header .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media (max-width: 690px) {
  .cursor {
    display: none;
  }
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }
  .cursor {
    display: none;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}

@media (max-width: 361px){
  .home .home-content .text-3 {
    font-size: 25px;
  }
}
