@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header styling */

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid #ccc;
}

head .sticky {
    padding: 30px 0;
    background: #df2b4f;
}

header .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    border: 2px solid transparent;
}

header .menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    transition: border 0.03s ease;
}

header .menu li a:hover {
    border-bottom: #df2b4f 2px solid;
}

header .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 a {
    text-decoration: none;
    color: #df2b4f;
}

h1 {
    background-clip: unset;
    font-weight: 40;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    /* background: linear-gradient(to right top, #43cea2, #185a9d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}


/* Style home section */

.home {
    display: flex;
    background-color: white;
    height: 100vh;
    color: #000;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 300;
    margin-left: -3px;
    color: #0dcaf0;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #df2b4f
}